package ${packageName}.service;

import com.duomai.project.framework.mybatisplus.service.BaseService;
import ${packageName}.domain.${ClassName};

/**
 * ${functionName} 服务层
 *
 * @author system
 */
public interface I${ClassName}Service extends BaseService<${ClassName}> {

}
